.container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/backgrounds/landing.jpg);
}
.part1{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-left: 100px;
}
#menu{
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.logo{
  margin-left: 420px;
  margin-top: 50px;
}
.logo-text p{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  margin-top: 450px;
}