.container{
  margin: -50px;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/backgrounds/landing.jpg);
  overflow: hidden;
}
.part1{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-left: 100px;
}
#menu{
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.logo{
  margin-left: 460px;
  margin-top: 50px;
}
.logo-text p{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  margin-top: 450px;
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-top: 30px;
  margin-top: -72px;
  margin-left: -8px;
  margin-right: -50px;
}
#banner-first, #breakfast, #lunch, #dinner{
  font-size: 42px;
  box-sizing: border-box;
  width: 700px;
  height: 200px;
}
#banner-first{
  text-align: center;
}
#happy-hour{
  color: #505050;
  background-color: #E4E5E7;
  padding: 25px;
}
#party-time{
  color: white;
  background-color: #f15b29;
  padding: 26px;
  margin-top: -42px;
}
#breakfast{
  background-image: url(image/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#lunch{
  background-image: url(image/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#dinner{
  background-image: url(image/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#breakfast, #lunch, #dinner{
  text-align: center;
  padding: 70px;
  color: white;
}
.fastfood{
  margin-top: 65px;
}
#fastfood-images{
  display: flex;
  flex-direction: column;
  width: fit-content;
  float: left;
  margin-left: 190px;
  margin-right: 80px;
  margin-bottom: 105px;
  padding: 20px;
  box-shadow: 0 0 5px #B6B6B6;
}
#fastfood-text{
  padding-right: 190px;
  padding-top: 20px;
  color: #505050;
}
#view-food{
  color: #f15b29;
  font-size: 20px;
  box-sizing: content-box;
  border: solid #f15b29 1px;
  border-radius: 3px;
  margin-left: 800px;
  margin-right: 150px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.drink{
  margin-top: 250px;
}
#drinkimages{    
  display: flex;
  flex-direction: row;
  width: fit-content;
  float: right;
  margin-left: 80px;
  margin-right: 190px;
  margin-bottom: 105px;
  padding: 20px;
  box-shadow: 0 0 5px #B6B6B6;
}
#drink-text{
  padding-left: 190px;
  padding-top: 20px;
  color: #505050;
  text-align: end;
}
#view-drink{
  color: #f15b29;
  font-size: 20px;
  box-sizing: content-box;
  border: solid #f15b29 1px;
  border-radius: 3px;
  margin-left: 150px;
  margin-right: 800px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.slideshow-container{
  clear: both;
  margin-top: 250px;
  background-image: url(image/backgrounds/foodsBg.jpg);
  margin-left: -8px;
  margin-right: -50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.slideshow-box{
  background-color: white;
}
#slideshow-menu{
  display: flex;
  justify-content: space-around;
  color: #505050;
  font-size: 10px;
  background-color: white;
}
#slideshow-menu > h1:nth-child(2){
  box-sizing: content-box;
  border:solid #b6b6b6 1px;
  background-color:#E3E3E3;
  padding-left: 100px;
  padding-right: 106px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#slideshow-menu > h1:nth-child(3){
  box-sizing: content-box;
  border:solid #b6b6b6 1px;
  background-color:#E3E3E3;
  padding-left: 100px;
  padding-right: 106px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#slideshow-menu > h1:nth-child(4){
  box-sizing: content-box;
  border:solid #b6b6b6 1px;
  background-color:#E3E3E3;
  padding-left: 100px;
  padding-right: 106px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#slideshow-menu > h1:first-child{
  padding-left: 56px;
  padding-right: 60px;
  color: #f15b29;
}
#slideshow-images{
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}
#slideshow-images > p:nth-child(1){
  color: #f15b29;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  transform: scale(1.5,4);
  font-weight:bolder
}
#slideshow-images > p:nth-child(5){
  color: #f15b29;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  transform: scale(1.5,4);
  font-weight:bolder
}
#slideshow{
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 40px;
  font-weight: bold;
  color: #f15b29;
}
#slideshow > p:nth-child(1){
  padding-left: 47px;
}
#slideshow > p:nth-child(3){
  padding-right: 47px;
}
.customerfeedback-section{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.customerfeedback{
  display:flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px #b6b6b6;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  padding-bottom: 24px;
}
.customerfeedback{
  color: #b8ada9;
}
#customer h1{
  color: #f15b29;
}
.customerfeedback{
  color: #292727;
}
#about h1{
  color:#f15b29;
}
#customer{
  padding-right: 48px;
  margin-top: 20px;
}
#about{
  width: 400px;
  padding-left: 42px;
  border-left: solid 3px #E3E3E3;
  padding-left: 24px;
  margin-top: 20px;
}
#customer p{
  font-size: 18px;
}
#about p{
  font-size: 18px;
}
#profiles{
  display: flex;
  justify-content:center;
}
#profiles  p:first-child {
  padding-right: 20px;
}
#profiles  img:nth-child(2){
  padding-right: 20px; 
}
#profiles img:nth-child(3){
  padding-right: 20px;
}
#profiles img:nth-child(4){
  padding-right: 20px;
}
#profiles img:nth-child(2), #profiles > img:nth-child(4){
  height: 52px;
}
#profiles p:first-child, #profiles > p:last-child{
  color: #f15b29;
  margin-top: 22px;

  transform: scale(1.5,4);
  font-weight:bolder
}
.footer-1{
  background-image:url(image/backgrounds/subscribe.jpg);
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.newsletter{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  box-sizing: border-box;
}
.newsletter > h1{
  color: white;
  font-size: 32px;
}
input{
  font-size: 20px;
}
input[type="text"]{
  color: white;
  border: none;
  width: 300px;
  height: 50px;
  padding-right: 110px;
  padding-left: 20px;
  border-radius: 5px;
}
input[type="button"]{
  color: white;
  background-color: #f15b29;
  height: 50px;
  margin-left: 20px;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}
.footer-2{
  margin-top: 4px;
  background-color: #f15b29;
  background-size: cover;
  overflow: hidden;
  margin-left: -8px; 
  margin-right: -8px;
  margin-bottom: -8px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#burger-menu{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  margin-bottom: -12px;
}
#burger-menu > img{
  height: 60px;
  padding-right: 20px;
  margin-top: 30px;
}
#burger-menu > h1{
  font-size: 50px;
}
.footer-container{
  color: white;
  text-align: center;
  font-size: 23px;
  margin-top: 0;
}
#icons{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footer-container{
  color: white;
  text-align: center;
  margin-top: 50px;
}
