.container{
  margin: -50px;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/backgrounds/landing.jpg);
  overflow: hidden;
}
.part1{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-left: 100px;
}
#menu{
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.logo{
  margin-left: 460px;
  margin-top: 50px;
}
.logo-text p{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  margin-top: 450px;
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-top: 30px;
  margin-top: -72px;
  margin-left: -8px;
  margin-right: -50px;
}
#banner-first, #breakfast, #lunch, #dinner{
  font-size: 42px;
  box-sizing: border-box;
  width: 700px;
  height: 200px;
}
#banner-first{
  text-align: center;
}
#happy-hour{
  color: #505050;
  background-color: #E4E5E7;
  padding: 25px;
}
#party-time{
  color: white;
  background-color: #f15b29;
  padding: 26px;
  margin-top: -42px;
}
#breakfast{
  background-image: url(image/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#lunch{
  background-image: url(image/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#dinner{
  background-image: url(image/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#breakfast, #lunch, #dinner{
  text-align: center;
  padding: 70px;
  color: white;
}
.fastfood{
  margin-top: 65px;
}
#fastfood-images{
  display: flex;
  flex-direction: column;
  width: fit-content;
  float: left;
  margin-left: 190px;
  margin-right: 80px;
  margin-bottom: 105px;
  padding: 20px;
  box-shadow: 0 0 5px #B6B6B6;
}
#fastfood-text{
  padding-right: 190px;
  padding-top: 20px;
  color: #505050;
}
#view-food{
  color: #f15b29;
  font-size: 20px;
  box-sizing: content-box;
  border: solid #f15b29 1px;
  border-radius: 3px;
  margin-left: 800px;
  margin-right: 150px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}